<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <%- include('layout'); -%>
  <div class="container">
    <% posts.forEach(function(post) { %>
      <h2>
        <%=post.title%>
      </h2>
      <img src="<%=post.img %>" alt="">
      <hr>
      <%= post.content %>
        <%})%>
  </div>
</body>
</html>